.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:100px;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .categories {
    font-family: "Trirong", serif;
  }
  .categories-bold {
    font-family: "Trirong", serif;
    font-weight: 600;
    font-size:24px;

  }
  .tangerine-bold-title {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
  }